In [25]:

import pandas
import os

c:\users\abala\appdata\local\programs\python\python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\abala\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\users\abala\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [33]:
def execfile(filepath, globals=None, locals=None):
    if globals is None:
        globals = {}
    globals.update({
        "__file__": filepath,
        "__name__": "__main__",
    })
    with open(filepath, 'rb') as file:
        exec(compile(file.read(), filepath, 'exec'), globals, locals)

In [26]:
pandas.read_csv("data/data.csv")

       Last    First Middle Initial      ID  Office phone
0     Smith   Smitty              S  WH1234    5557771212
1  WILLIAMS    WITTY              W   S4454  555-877.4321
2      Luka     Luka              L  OF4321  555.888.3456
3     jason     jake            NaN   WH409  555 777 2094
4   Krishna  krishna              k  SA9384  555 888 0093

In [ ]:
execfile(Homeword)